<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head", {path: path}) %>
  </head>
  <body>
    <div id="app" class="p-relative">
      <%- include("partials/header") %>
      <%- include("partials/nav", {path:path}) %>
      <main id="main" class="bg-dark-noise2">
        <% if(allTasks.length == 0) {%>
          <h2 class="text-center light pt-5 mt-5">Nada que mostrar aquí >-<</h2>
        <%}%>
        <div class="grid-3 gap2 p3 mb-3">
          <% for (task of allTasks) {%>
            <div class="size4 part3 bg-dark-noise3">
              <div class="grid-component top">
                <% if(task.state == 'ended') {%>
                  <img src="<%=path%>assets/svg/check.svg" title="Finalizado" alt="Check" class="check">
                <%}%>
                <% if(task.state == 'noended') {%>
                    <img src="<%=path%>assets/svg/error.svg" title="No Realizado" alt="Check" class="check">
                <%}%>
                <img src="assets/svg/<%=task.category%>.svg" alt="<%=task.icon%>" class="task-icon">
              </div>
              <div class="grid-component body">
                <h3 class="text-center p1"><%=task.shortName%></h3>
              </div>
              <a href="/tasks/<%=task.shortName%>" class="grid-button bg-dark-noise4">Ver detalles</a>
            </div>
          <%}%>
        </div>
      </main>
    </div>


    <script src="js/main.js"></script>
  </body>
</html>
