<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {path: path}) %>
    <link rel="stylesheet" type="text/css" href="<%=path%>css/task.css">
</head>
<body>
    <div id="app" class="p-relative">
        <%- include("partials/header") %>
        <%- include("partials/nav", {path:path}) %>

        <main id="main" class="bg-dark-noise2">
            <% if(messageChange.length > 0) {%>
                <div class="alert alert-success">
                    <strong style="color: #98ff98;"><%=messageChange%></strong>
                </div>
            <%}%>
            <% if(task.state == 'ended') {%>
                <div class="p2 p-relative pt-5">
                    <a href="/deletetask/<%=task.numberId%>" class="form-button bg-dark-noise4" id="delete-top">Eliminar Tarea</a>
                </div>
                <div class="alert alert-success">Tarea completada :D</div>
            <%}%>
            <% if(task.state == 'noended') {%>
                <div class="p2 p-relative pt-5">
                    <a href="/deletetask/<%=task.numberId%>" class="form-button bg-dark-noise4" id="delete-top">Eliminar Tarea</a>
                </div>
                <div class="alert alert-danger">Tarea No Realizada :(</div>
            <%}%>
            <%if (task.state != 'ended') {%>
                <% if(task.state != 'noended') {%>
                <form action="" class="p2">
                    <div class="form-group">
                        <label for="state">Cambiar Estado</label>
                        <select name="state" id="state" class="form-control">
                            <% for (state of states) {%>
                                <option value="<%=state%>"><%=state%></option>
                            <%}%>
                        </select>
                    </div>
                    
                    <a href="/changetask/<%=task.numberId%>-<%=states[0]%>-<%=categories[0]%>" id="submit" class="form-button bg-dark-noise4">Guardar</a>
                    <a href="/deletetask/<%=task.numberId%>" class="form-button bg-dark-noise4" id="delete">Eliminar Tarea</a>
                    <a href="/completetask/<%=task.numberId%>" class="form-button bg-dark-noise4" id="complete">Completar</a>
                    <div class="form-group">
                        <label for="category">Cambiar Categoría</label>
                        <select name="categories" id="categories" class="form-control">
                            <% for (category of categories) {%>
                                <option value="<%=category%>"><%=category%></option>
                            <%}%>
                        </select>
                    
                    </div>
                </form>
                <%}%>
            <%}%>
            <% if(task == 'none') {%>
                <h2 class="text-center p5 light"><%=message%></h2>
            <%}%>
            <% if(task != 'none') {%>
                <h2 class="text-center mb-3"><%=task.name%></h2>
                <div>
                    <p class="p3" id="parrafo">
                        <%=task.description%>
                    </p>
                </div>
            <%}%>
            <strong class="strong">Id: <%=task.numberId%></strong>
            <small class="small">Finaliza en: <%=task.fin%></small>
        </main>
    </div>
    <script>let numberId = "<%=task.numberId%>";</script>
    <script src="<%=path%>js/main.js"></script>
    <script src="<%=path%>js/tasks.js"></script>
</body>
</html>